.c{
	
}
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

.c {
  font-size: 100%;
  font-family: "Share Tech Mono", monospace;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(45deg, #0f1630 0%, #350d29 100%);
  opacity: 0.8;
}
body{
	background-position: center;
	background-image: url("bg.jpg");
	background-size: cover;
	height: 100%;
}
.time {
	font-size: 5em;
	color: cyan;
	text-shadow: 0 0 10px rgb(0, 128, 128);
}
.stopwatch {
	text-align: center;
	padding: 2rem;

}
button{
	border: 1px solid cyan;
	text-transform: uppercase;
	background: 0;
	color: cyan;
	padding: 0.9em 1.4em;
	transition: all 0.3s;

}

.nonc {
  margin: 0 0.5em;
  font-size: 1.5em;
}
button:hover {
	background: rgba(0, 128, 128, 0.5);
}

.b {
	background-color: blue;
	border-radius: 10px 0px 0px 10px;
}
.r{
	background-color: red;

	border-radius: 0px 10px 10px 0px;
}
.redb{
	background-color: red;
	margin-top:10px;
	width:100px;
	border-radius: 10px;
	padding: 0.25em 0.75em;
	color: blue
}
.blueb{
	background-color: blue;
	width:100px;
	margin-top:10px;
	border-radius: 10px;
	padding: 0.25em 0.75em;
	color: red
}
.Score {
	color:white;
	font-size: 150px;
	text-align: center;
	margin-top: 20px; 
}
.s{
	padding-bottom: 10px;
}